<?xml version='1.0' encoding='utf-8'?>
<widget id="com.issieshapiro.signlang" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>IssieSign</name>
    <description>
        An app that help learning the sign language of Israel
    </description>
    <author email="info@sap.com" href="http://sap.com">
        SAP CSR team
    </author>
    <preference name="splashscreen" value="splash" />
    <preference name="ShowSplashScreenSpinner" value="false" />
    <platform name="ios">
        <splash height="1136" src="resources/Default-568h@2x~iphone(640x1136).png" width="640" />
        <splash height="1496" src="resources/Default-Landscape@2x~ipad.png" width="2048" />
        <splash height="748" src="resources/Default-Landscape~ipad(1024x748).png" width="1024" />
        <splash height="2008" src="resources/Default-Portrait@2x~ipad(1536x2008).png" width="1536" />
        <splash height="1024" src="resources/Splash screen  768 x 1024.png" width="768" />
        <splash height="960" src="resources/Default@2x~iphone(640x960).png" width="640" />
        <splash height="480" src="resources/Default~iphone(320x480).png" width="320" />
        <splash height="768" src="resources/Splash screen  1024 x 768.png" width="1024" />
        <splash height="1334" src="resources/Splash screen 750 x 1334.png" width="750" />
        <splash height="2208" src="resources/Splash screen 1242 x 2208.png" width="1242" />
        <splash height="2048" src="resources/Splash screen 1536 x 2048.png" width="1536" />
        <splash height="1536" src="resources/Splash screen 2048 x 1536.png" width="2048" />
        <splash height="1242" src="resources/Splash screen 2208 x 1242.png" width="2208" />
        <splash height="1125" src="resources/Splash screen 2436 x 1125.png" width="2436" />
        <splash height="2436" src="resources/Splash screen 1125 x 2436.png" width="1125" />
        <icon height="1024" src="resources/Icon-App-1024x1024@1x.png" width="1024" />
        <icon height="180" src="resources/Icon-App-60x60@3x.png" width="180" />
        <icon height="60" src="resources/Icon-App-60x60@1x.png" width="60" />
        <icon height="120" src="resources/Icon-App-60x60@2x.png" width="120" />
        <icon height="76" src="resources/Icon-App-76x76@1x.png" width="76" />
        <icon height="152" src="resources/Icon-App-76x76@2x.png" width="152" />
        <icon height="40" src="resources/Icon-App-40x40@1x.png" width="40" />
        <icon height="80" src="resources/Icon-App-40x40@2x.png" width="80" />
        <icon height="57" src="resources/Icon-App-57x57@1x.png" width="57" />
        <icon height="114" src="resources/Icon-App-57x57@2x.png" width="114" />
        <icon height="72" src="resources/Icon-App-72x72@1x.png" width="72" />
        <icon height="144" src="resources/Icon-App-72x72@2x.png" width="144" />
        <icon height="29" src="resources/Icon-App-29x29@1x.png" width="29" />
        <icon height="58" src="resources/Icon-App-29x29@2x.png" width="58" />
        <icon height="87" src="resources/Icon-App-29x29@3x.png" width="87" />
        <icon height="50" src="resources/Icon-Small-50x50@1x.png" width="50" />
        <icon height="100" src="resources/Icon-Small-50x50@2x.png" width="100" />
        <icon height="20" src="resources/Icon-App-20x20@1x.png" width="20" />
        <icon height="167" src="resources/Icon-App-83.5x83.5@2x.png" width="167" />

         <config-file target="**/Entitlements-Debug.plist"
            parent="com.apple.security.application-groups">
            <array>
                <string>group.com.issieshapiro.issiesign</string>
            </array>
        </config-file>
        <!-- <config-file target="**/Entitlements-Debug.plist" 
            parent="UTImportedTypeDeclarations">
            <array>
            <dict>
                <key>UTTypeConformsTo</key>
                <array>
                    <string>public.data</string>
                    <string>public.archive</string>
                </array>
                <key>UTTypeDescription</key>
                <string>Issie Sign Content file</string>
                <key>UTTypeIdentifier</key>
                <string>public.issiesign.content</string>
                <key>UTTypeTagSpecification</key>
                <dict>
                    <key>com.apple.ostype</key>
                    <string>Zip</string>
                    <key>public.mime-type</key>
                    <string>application/zip</string>
                    <key>public.filename-extension</key>
                    <string>isc</string>
                </dict>
            </dict>
            </array>
        </config-file> -->
    </platform>
    <preference name="SplashScreenDelay" value="2000" />
    <preference name="FadeSplashScreen" value="false" />
    <preference name="SplashScreenBackgroundColor" value="white" />
    <preference name="AllowInlineMediaPlayback" value="true" />
    <!-- <content src="http://192.168.1.17:3000/" />  -->
    <content src="index.html" />
    <!-- <content src="http://localhost:3000" /> -->

 
    <access origin="*" />
    <allow-navigation href="*" />
    <allow-intent href="*" />


    <plugin name="cordova-plugin-whitelist" spec="^1.3.3" />
    <plugin name="cordova-plugin-splashscreen" spec="^5.0.2" />
    <plugin name="cordova-plugin-file" spec="^6.0.1" />
    <!-- <plugin name="cc.fovea.cordova.openwith">
        <variable name="ANDROID_MIME_TYPE" value="image/*" />
        <variable name="IOS_URL_SCHEME" value="issiesignopenwith" />
        <variable name="IOS_UNIFORM_TYPE_IDENTIFIER" value="com.pkware.zip-archive" />
        <variable name="IOS_GROUP_IDENTIFIER" value="group.com.issieshapiro.issiesign" />
        <variable name="SHAREEXT_DEVELOPMENT_TEAM" value="BEIT ISSIE SHAPIRO" />
    </plugin> -->




</widget>
