.idea/
node_modules/
.DS_Store
.vscode/
build
androidApp/
cordovaApp/
package-lock.json
.DS_Store
.firebaserc


# language sensitive files
src/mainJson.js
src/images/adt/
src/current-language.js

public/videos
static
android-gen

#pk
googleplay/*.jks
googleplay/export/


# Mac
.DS_Store


*.xcuserdatad


output.apks

