.settingsContainer {
  direction: var(--dir);
  display: grid;
  row-gap: 25px;
  padding-left: 13vw;
  padding-right: 10vw;
  grid-template-columns: 2fr 1fr;
}

@media (max-width: 720px) {
  .settingsContainer {
    grid-template-columns: 1fr;
    row-gap: 10px;
  }
}


.settingsContainer>lbl {
  text-align: start;
  font-size: 28px;
}

.lblCentered {
  display: flex;
  align-items: center;

}

.settingsLanguageGroup {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 3fr;
  row-gap: 10px;
}

.settingsLanguageGroup>input {
  zoom: 1.8;
  justify-self: start;
  margin-left: 2px;
}

.settingsLanguageGroup>label {
  text-align: start;
  font-size: 20px;
}

.settingsAction {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.settingsSubTitle {
  font-size: 22px;
  padding-left: calc(var(--ltr_f)*10px);
  padding-right: calc(var(--rtl_f)*10px);
}

.info-button {
  display: inline-block;

}

.info-button:before {
  margin-top: 5px;
  content: ' ';
  display: inline-block;
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24"><path  d="M0 0h24v24H0z" fill="none"/><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-6h2v6zm0-8h-2V7h2v2z" fill="5c7e9d" /></svg>');
  width: 30px;
  height: 30px;
}