.settingsContainer {
  direction: var(--dir);
  display: flex;
  flex-direction: column;
  height:95%;

  /* background:
    repeating-linear-gradient(to bottom,
      transparent 0,
      transparent 99px,
      #5c7e9d 99px,
      #5c7e9d 100px
    ); */
}

@media (max-width: 720px) {
  .settingsContainer {
    grid-template-columns: 1fr;
    row-gap: 10px;
  }
}

@media (max-height: 700px) {
  .settingsContainer {
    row-gap: 5px;
    max-height: 65vh;
  }
}


.settingsContainer>lbl {
  text-align: start;
  font-size: 28px;
}

.settings-item {
  display: flex;
  align-items: flex-start;
  width: 100%;
  border-bottom: solid 0.5px #5c7e9d;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  justify-content: space-between;
}

.no-bottom-seperator {
  border-bottom: none;
  padding-bottom:0;
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
}

.settings-item>lbl {
  padding-left: 5px;
  padding-right: 5px;
  font-size: 1.5em;
  text-align: start;
}

.settingsSubTitle {
  font-size: 22px;
}

.status-item {
  display: flex;
  align-items: flex-start;
  width: 100%;
  border-bottom: solid #5c7e9d;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 5px;
  justify-content: space-between;
}

.settings-selected {
  color:#0654A1;
  font-weight: bold;
}

.toggle-container {
  display: flex;
  flex-direction: column;
  direction: rtl;
  align-items: center;
  width:100%;
}

.toggle-title {
  text-align: center;
  width: 100%;
  font-size: 20px;
  margin-bottom: 10px;
}

.toggle-buttons {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  color: #77797a;
}

.toggle-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  border-radius: 8px;
  border-style: solid;
  border-width: 2px;
  font-size: 22px;

  width: 44px;
  height: 44px;
  margin-right:20px;
  margin-left:20px;
}


.toggle-selected {
  color: #5c7e9d;
  border-width: 3px;
}

.toggle-caption-selected {
  color: #5c7e9d;
  font-weight: bold;
}

.toggle-button > svg {
  font-size: 35px;
}

.app-toggle-button {
  width: 80;
  height: 50;
  background-color: #527FA0;
}

.app-toggle-button-selected {
  border-color: black;
  border-width: 3px;
  border-style: solid;
}


.lang-item {
  display: flex;
  align-items: center;
  height: 60px;
}

.settingsGroup {
  width: 35%;
  display: grid;
  grid-template-columns: 1fr 3fr;
  row-gap: 10px;
}

.settingsGroup>input {
  zoom: 1.8;
  justify-self: start;
  margin-left: 2px;
}

.settingsGroup>label {
  display: flex;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  text-align: start;
  font-size: 20px;
}

.settingsAction {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}


.info-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-width: 2px;
  border-style: solid;
  border-radius: 18px;
  font-size: 22px;
  width: 30px;
  height: 30px;

}

.conn-text {
  font-size: 22px;
  text-align: start;
}

.conn-buttons {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.sync-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #59626b;
  height: 40px;
  width: 130px;
  border-radius: 15px;
  font-size: 1.5rem;
  line-height: 2.1rem;
  color: #fff;
  margin-top:15px;
}

.setting-appType-img {
  width: 40px;
  height: 40px;
}