.share-cart-container {
    width: 100vw;
    direction: var(--dir);
    color: #585A5A;
    background-color: #EAE5DA;
    z-index: 10;
}

.share-cart-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 2em;
    padding-left: 7vw;
    padding-right: 7vw;
    margin-bottom: 30px;
}

.share-btn {
    background-color: #59626b;
    height: 40px;
    width: 120px;
    border-radius: 15px;
    font-size: 1.4rem;
    line-height: 2.2rem;
    color: #fff
}

.share-cart {
    background-color: #fff;
    color: #8B8F8F;
    text-align: start;

    border-radius: 10px;
    margin-right: 7vw;
    margin-left: 7vw;
    width: 86vw;
}

.share-cart-table-title {

    display: grid;
    height: 50px;
    grid-template-columns: 1fr 4fr 4fr 1fr;
    align-items: center;


    background-color: #8B8F8F;
    color: #fff;
    font-size: 1.7rem;


    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

}

.title-item {
    padding-inline-start: 5px;
}


.share-cart-item {
    display: grid;
    height: 50px;
    font-size: 1.4rem;
    line-height: 2em;
    grid-template-columns: 1fr 4fr 4fr 1fr;
}

.share-cart-item>item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: start;
    border-inline-end: solid #8B8F8F 1px;
    border-block-start: solid #8B8F8F 1px;
    padding-left: 5px;
    padding-right: 5px;
}



.share-cart-item>image {
    border-block-start: solid #8B8F8F 1px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.share-cart-item>item>img {
    height: 30px;
    width: 30px;
}

.empty-cart {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 100px;

}

.empty-cart > img {
    height: 160px;
    width: 160px;
}

.empty-cart > text {
    text-align: center;
    font-size: 1.5rem;
    padding-top:10px;
    padding-bottom: 100px;
}


button {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 10px 24px;
    font-size: 18px;
    margin-top: 30px;
}